<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class=" category_container ">
    <div class="field" id="category_1_field">
      <%= form.label "Category 1" %>
      <%= form.text_field :category1, {list: "category_1"} %>
      <datalist id="category_1"></datalist>
    </div>
    <div class="field" id="category_2_field">
      <%= form.label "Category 2" %>
      <%= form.text_field :category2, {list: "category_2"} %>
      <datalist id="category_2"></datalist>
    </div>
    <div class="field" id="category_3_field">
      <%= form.label "Category 3" %>
      <%= form.text_field :category3, {list: "category_3"} %>
      <datalist id="category_3"></datalist>
    </div>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>postsNewFormOnLoad()</script>
