<div class=" container ">
  <div>
    <p id="notice"><%= notice %></p>
  </div>

  <h1>Posts</h1>
  
  <div class=" category_container ">
    <div class="field" id="category_1_field">
      <label for="post_Category 1">Category 1</label>
      <input list="category_1", type="text", name="post[category1]" id="post_category1">
      <datalist id="category_1"></datalist>
    </div>
    <div class="field" id="category_2_field">
      <label for="post_Category 2">Category 2</label>
      <input list="category_2", type="text", name="post[category2]" id="post_category2">
      <datalist id="category_2"></datalist>
    </div>
    <div class="field" id="category_3_field">
      <label for="post_Category 3">Category 3</label>
      <input list="category_3", type="text", name="post[category3]" id="post_category3">
      <datalist id="category_3"></datalist>
    </div>
  </div>

  <div class=" posts " id="posts_list">
    <% @posts.each do |post| %>
      <%= link_to post, class: "no_style" do %>
        <div class=" posts_index_card ">
          <h2><%= post.name %></h2>
          <div class=" post_body "><%= post.body.truncate(100, separator: /\s/) %></div>
          <div class=" post_categories border_top ">
            <div><%= post.category1 %></div>
            <div><%= post.category2 %></div>
            <div><%= post.category3 %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <br>

  <%= link_to 'New Post', new_post_path %>
</div>


<!--
<td><%#= link_to 'Show', post %></td>
<td><%#= link_to 'Edit', edit_post_path(post) %></td>
<td><%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->

<script>postsIndexOnLoad()</script>
